<div class="container text-center">
    <div>
        <img src="/images/GIFduelsLOGO.png">
    </div>
<a href="/{{battleId}}/users">View Users</a>
    <div class="row text-center">
        <div class="col-md-4 gif">
            <div class="playerfonts">{{playerOne}}</div>
            <div><img class="animated-gif" src="{{gifOne}}"></div>
        </div>
        <div class="col-md-4">
            <div>
                <img class="vs" src="/images/vs.png">
            </div>
        </div>
        <div class="col-md-4 gif">
            <div class="playerfonts">{{playerTwo}}</div>
            <div><img class="animated-gif" src="{{gifTwo}}"></div>
        </div>
    </div>
</div>
