<div class="text-center">
    <img src="/images/GIFduelsLOGO.png">
</div>

<div class="container text-center">
    <a href="/{{battleId}}/users">View Users</a>
    <div class="row text-center">
        <div class="col-md-4 gif">
            <div class="playerfonts">{{playerOne}}</div>
            <div><img class="animated-gif gif1" src="{{gifOne}}"></div>
        </div>

        <div class="col-md-4">
            <div>
                <img class="img-responsive vsLogo" alt="Responsive image" src="/images/vs.png">
            </div>
        </div>

        <div class="col-md-4 gif">
            <div class="playerfonts">{{playerTwo}}</div>
            <div><img class="animated-gif gif2" src="{{gifTwo}}"></div>
        </div>

    </div>
</div>

</div>