<div class="container text-center">
    <div>
        <img src="/images/GIFduelsLOGO.png">

    </div>

    <div class="row text-center">
        <div class="col-md-5 gif">
            <div class="playerfonts">{{playerOne}}</div>
            <div><a href="/{{battleId}}/onewin"><img class="animated-gif gif1" src="{{gifOne}}"></a></div>
        </div>

        <div class="col-md-2">
            <div>
                <img class="vs" src="/images/vs.png">
            </div>
        </div>

        <div class="col-md-5 gif">
            <div class="playerfonts">{{playerTwo}}</div>
            <div><a href="/{{battleId}}/twowin"><img class="animated-gif gif2" src="{{gifTwo}}"></a></div>
        </div>

    </div>
</div>
