<div class="container text-center">
    <div>
        <h1>GIF DUELS</h1>
         <a href="/{{battleId}}/users">View Users</a>
    </div>
    <div class="row text-center">
        <div class="col-md-4 gif">
            <div>{{playerOne}}</div>
            <div><img src="{{gifOne}}"></div>
        </div>
        <div class="col-md-4">
            <div><h1>vs</h1></div>
        </div>
        <div class="col-md-4 gif">
            <div>{{playerTwo}}</div>
            <div><img src="{{gifTwo}}"></div>
        </div>
    </div>
    </div>
 
</div>

