 <h1>{{userName}}'s GIFS</h1> 

{{#each gifs}}
    
    <div><a href="/users/{{../userId}}/gifs/{{this._id}}"><img src="{{this.imgUrl}}"></a></div>
   
{{/each}}
<div><a href="/users/{{userId}}/gifs/new">Add a New GIF</a></div>
<div><a href="/users/{{userId}}">Go back to {{userName}}'s Profile</a></div>
	
