

 <div><h1>Title: {{title}}</h1></div> 
<div><img src="{{imgUrl}}"></div>
 <div>Votes: {{votes}}</div>
<div><a href="/users/{{userId}}/gifs/{{gifId}}/edit">edit GIF</a></div>
<div><a href="/users/{{userId}}/gifs/{{gifId}}/delete">Delete GIF</a></div>
<div><a href="/users/{{userId}}/gifs">Go back to {{userName}}'s GIFS</a></div>
