<h1>USER: {{userId}}</h1>

<div>Username: {{userName}}</div>
<div>First Name: {{firstName}}</div>
<div>Last Name: {{lastName}}</div>
<div>Email: {{email}}</div>
<div>Wins: {{wins}}</div>
<div>Losses: {{losses}}</div>
<div>
    <a href="/{{battleId}}/users/{{userId}}/gifs">View Dank Gifs</a>
</div>
{{!--
<div>Imgurl: {{gif}}</div> --}} {{!--
<div><img src="{{gif}}"></div> --}}
<div class = "container">
 <h1>{{userName}}'s GIFS</h1> 

{{#each gifs}}
    
    <div><a href="/{{../battleId}}/users/{{../userId}}/{{this._id}}"><img src="{{this.imgUrl}}"></a></div>
   
{{/each}}
<div><a href="/{{battleId}}/users/{{userId}}/new">Add a New GIF</a></div>

</div>

<div>
    <a href="/{{battleId}}/users">Back to User's index</a>
</div>
<div>
    <a href="/{{battleId}}/users/{{userId}}/delete">Delete User</a>
</div>
<div>
    <a href="/{{battleId}}/users/{{userId}}/edit">Edit</a>
</div>