<h1>USER: {{userId}}</h1>

<div>Username: {{userName}}</div>
<div>First Name: {{firstName}}</div>
<div>Last Name: {{lastName}}</div>
<div>Email: {{email}}</div>
<div>
    <a href="/{{battleId}}/users/{{userId}}/gifs">View Dank Gifs</a>
</div>

<div>
    <a href="/{{battleId}}/users">Back to User's index</a>
</div>
<div>
    <a href="/{{battleId}}/users/{{userId}}/delete">Delete</a>
</div>
<div>
    <a href="/{{battleId}}/users/{{userId}}/edit">Edit</a>
</div>
