<h1>{{userName}}</h1>

<div class = "profiletext">First Name: {{firstName}}</div>
<div class = "profiletext">Last Name: {{lastName}}</div>
<div class = "profiletext">Email: {{email}}</div>

<br/>

<div>
    <a href="/{{battleId}}/users/{{userId}}/gifs"><button class="btn btn-primary">View Dank Gifs</button></a>
</div>

<div>
    <a href="/{{battleId}}/users"><button class="btn btn-primary">Back to User's index</button></a>
</div>
<div>
    <a href="/{{battleId}}/users/{{userId}}/delete"><button class="btn btn-danger">Delete</button></a>
</div>
<div>
    <a href="/{{battleId}}/users/{{userId}}/edit"><button class="btn btn-warning">Edit</button></a>
</div>
