<div class="text-center"><h1>{{userName}}</h1></div>

<div class="container">
<div class = "profiletext">First Name: {{firstName}}</div>
<div class = "profiletext">Last Name: {{lastName}}</div>
<div class = "profiletext">Email: {{email}}</div>
<div>Wins: {{wins}}</div>
<div>Losses: {{losses}}</div>
<br/>



</div>
<div class="container">
    <a href="/{{battleId}}/users"><button class="btn btn-primary horizontal">Back to User's index</button></a>


    <a href="/{{battleId}}/users/{{userId}}/edit"><button class="btn btn-warning horizontal">Edit Profile</button></a>


    <a href="/{{battleId}}/users/{{userId}}/delete"><button class="btn btn-danger horizontal">Delete Profile</button></a>

     <a href="/{{battleId}}/users/{{userId}}/new"><button class="btn btn-primary horizontal">Add a new gif</button></a>
</div>
<div class = "container">
 <h1>{{userName}}'s GIFS</h1>
<div class="gifbox">
{{#each gifs}}

    <a href="/{{../battleId}}/users/{{../userId}}/{{this._id}}"><img src="{{this.imgUrl}}"></a></div>

{{/each}}
</div>
</div>
<br>
<br>
<br>
